* {
    font-family: Poppins;
}
img[alt~="brand-logo"] {
    
    position: absolute;
    top: 50px;
    left: 100px;
}

ul {
    text-align: center;
}

li {
    display: inline;
    list-style-type: none;
    color: #758283;
    padding: 15px 55px ;
    position: relative;
    top: 49px;
    right: 200px;
    font-size: 20px;
    font-weight: 500;
    }

li:first-child {
    color: black;
}

.nav-button {
    background-color: #5955B3;
    color :aliceblue;
    border: none;
    padding: 13px 25px;
    border-radius: 8px;
    font-weight: 500;
}
.button-group{
    
    position: absolute;
    top: 50px;
    right: 70px;
}

.btn {
    position: absolute;
    bottom: 20%;
    left: 105px;
    font-size: 18px;
    padding: 20px 45px;
}

img[alt~="illustration"] {
    position: absolute;
    right: 0px;
    top: 16%;
}

.heading-text {
    color: #3C2F60;
    position: absolute;
    top: 20%;
    left:105px;
    font-size: 60px;
    width: 22%;
    font-weight: 600;
}

span {
    color: #5955B3;
}

.description {
    color: #758283;
    position: absolute;
    top: 55%;
    left: 105px;
    width: 20%;
}